.select_picker {
    height: 36px;
    width: 220px;
    border-radius: 4px;
    float: none;
    display: inline-block;
    margin-left: 0;
}

label {
    color: rgba(29, 11, 23, 0.48);
}

#form {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.form_add {
    position: absolute;
    z-index: 1;
    margin-top: -253px;
    margin-left: 138px;
}

.form_up {
    position: absolute;
    z-index: 1;
    margin-top: -194px;
    margin-left: 153px;
}

#search_container{
    position: absolute;
    z-index: 1;
    margin-top: -55px;
    margin-left: 887px;
}


#subform_project {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

#subforms_container {
    margin-left: 26px;
    width: 740px;
    height: 609px;
    overflow: scroll;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
}

.scrollbar {
    width: 30px;
    height: 300px;
    margin-top: -295px;
}

/*������������ʽ*/
#subforms_container::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

/*����������*/
#subforms_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

/*���������*/
#subforms_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: #ccc;
}

#project_name_container {
    margin-top: 144px;
    margin-left: 72px;
}

#project_time_container {
    display: flex;
    flex-direction: row;
    margin-top: 78px;
}

#project_time_container label:last-child {
    margin-left: 20px;
}

#subform_project input {
    width: 127px;
    border-radius: 4px;
}

#subform_project label {
    margin-left: 5px;
}

.subform input {
    width: 152px;
    height: 33px;
    border: 1px;
    margin-left: 20px;
    border-radius: 4px;
}

.subform input:last-child {
    width: 152px;
    border-radius: 4px;
}

.subform button{
    height: 33px;
    border: 1px;
    border-radius: 3px;
    width: 64px;
    margin-left: 11px;
}

.subform lable {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.6);
}
