.subform {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	height: 50px;
    margin: 9px;
}

.subform div{
    width: 700px;
    background: rgb(23, 43, 51);
    height: 40px;
    margin-top: -5px;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.show{
	border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    height: 34px;
    width: 119px;
    background: rgb(25,49,70);
    margin-left: 23px;

}

.remove{
	border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    height: 34px;
    width: 119px;
    background: rgb(25,49,70);
}

