.container body-content {
    margin-top: -18px;
}

table {
    width: 90%;
    height: 510px;
    background: #ccc;
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background: rgba(238, 238, 238, 1);
    font-weight: normal;
}

tr {
    background: rgba(255, 255, 255, 0.5);
}


#table_body {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin-top: 32px;
}


tbody {
    display: block;
    height: 476px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: #ccc;
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead {
    width: calc(100% - 9px);
}

#search {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px;
}

#change {
    position: absolute;
    z-index: 1;
    margin-top: 16px;
    margin-left: 828px;
}

#graph {
    position: absolute;
    z-index: 1;
    margin-top: 16px;
    margin-left: 992px;
}

#change_button {
    color: white;
    background: rgb(25,49,70);
    height: 36px;
    width: 120px;
    border: 1px solid;
    margin-top: -8px;
}

#graph_button {
    color: white;
    background: rgb(25,49,70);
    height: 36px;
    width: 148px;
    border: 1px solid;
    margin-top: -8px;
}

#project_name_container{
    position: absolute;
    z-index: 1;
    color: rgba(255,255,255,0.6);
    font-size: 20px;
    margin-top: -8px;
}

#project_time_container{
    position: absolute;
    z-index: 1;
    color: rgba(255,255,255,0.6);
    font-size: 20px;
    margin-top: -8px;
    margin-left: 260px;
}

#search_container {
    position: absolute;
    z-index: 1;
}

#search_in {
    height: 34px;
    margin-top: -6px;
    border: 1px solid;
    border-radius: 2px;
    margin-left: 852px;
    background: rgba(255,255,255,0.3);
    color: white;
    font-size: 18px;
}

#search {
    color: white;
    background: rgb(25,49,70);
    height: 29px;
    width: 68px;
    border: 1px solid;
    margin-top: -8px;
}
