<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network-Planning----login</title>
    <link rel="stylesheet" type="text/css" href="/static/content/login.css"/>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css"/>
</head>
<body style="background-image: url(../static/img/log.jpeg);
                          background-size: 100% 100%;
                          background-repeat: no-repeat;">

<div id="title">TIME</div>
<form action="" method="post" style="margin-left: 511px;">
    {{ loginform.csrf_token }}
    <div>
        {{loginform.user_name}}
        {% for error in loginform.user_name.errors %}
        <span style="color: rgb(227, 228, 140);">{{ error }}</span>
        {#
        <div class="alert alert-{{ error }}" role="alert">#}
            {% endfor %}
        </div>
        <div>
            {{loginform.user_password}}
            {% for error in loginform.user_password.errors %}
            <span style="color: rgb(227, 228, 140);">{{ error }}</span>
            {#
            <div class="alert alert-{{ error }}" role="alert">#}
                {% endfor %}
            </div>
            <p>{{ loginform.submit() }}</p>
            <div id="register">
                <button onclick='window.location.href="/register" '>注册</button>
            </div>
        </div>
    </div>
</form>

<script src="/static/scripts/jquery.js"></script>
<script src="/static/Bootstrap-select_files/bootstrap.min.js.下载"></script>
<script src="/static/Bootstrap-select_files/bootstrap-select.js.下载"></script>
</body>
</html>