<!DOCTYPE html>

<head>
    <title>模块一</title>
    <style>
        .is-hidden {
            display: none;
        }
    </style>
</head>
<body>

<form id="form_body" action="" method="post" role="form">
    {#    模板参数将被替换为一个隐藏字段，用来是实现在配置中激活的 CSRF 保护。如果你已经激活了 CSRF，这个字段需要出现在你所有的表单中#}
    {#      注：只有Flaskform类有{{ form.hidden_tag }}方法，form类中没有#}
    {#    <div class="is-hidden">{{ form_one.hidden_tag }}</div>#}
    {#    {{ form_one.csrf_token }}#}
    <div>
        {{ form_one.project_name.label }}
        {{ form_one.project_name }}
        {{ form_one.project_ST.label }}
        {{ form_one.project_ST }}
        {{ form_one.project_FT.label }}
        {{ form_one.project_FT }}
    </div>
    {#    模板参数将被替换为一个隐藏字段，用来是实现在配置中激活的 CSRF 保护。如果你已经激活了 CSRF，这个字段需要出现在你所有的表单中#}
    {#      注：只有Flaskform类有{{ form.hidden_tag }}方法，form类中没有#}
    <div class="is-hidden">{{ form_two.hidden_tag }}</div>
    {{ form_two.csrf_token }}
    <div id="subforms_container">
        {% for subform in form_two.items %}
            {#            利用jinja的loop.index0从零开始自动为id赋值,并利用html5的data-语句添加自定义语段 #}
            <div id="item-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                {{ subform.item_name.label }}
                {{ subform.item_name }}

                {{ subform.pre_item.label }}
                {{ subform.pre_item }}

                {{ subform.last_time.label }}
                {{ subform.last_time }}

                <button class="remove">删除</button>
            </div>
        {% endfor %}
    </div>
    {#    提交按钮在这！！#}
    <button type="submit">提交</button>
</form>
<br>
<div class="form_add">
    <button id="add">新建事项</button>
</div>


{% if form_two.errors %}
    {{ form_two.errors }}
{% endif %}

<div id="item-_-form" class="is-hidden" data-index="_">
    {#    label for 与相应id的表单元素相绑定#}
    <label for="items-_-item_name">事件名称</label>
    <input id="items-_-item_name" name="items-_-item_name" data-id="_" type="text" value="">
    <label for="items-_-pre_item">前驱事件</label>
    <select id="items-_-pre_item" name="items-_-pre_item" data-id="_" value="" multiple="multiple" size="1"></select>
    <label for="items-_-last_time">持续时间</label>
    <input id="items-_-last_time" name="items-_-last_time" data-id="_" type="text" value="">

    <button class="remove">删除</button>
</div>

</form>


<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='choose.js') }}"></script>

</body>
</html>